* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centering content vertically */
    min-height: calc(100vh - var(--navbar-height) - 8rem); /* Adjust for additional padding */
    padding: 1rem;
    box-sizing: border-box;
    background-color: #F8F8F8;
    margin-top: var(--navbar-height);
}

form {
    width: 100%;
    max-width: 600px; 
    margin: auto; 
    border: 1px solid #8F8F8F;
    border-radius: 20px;
    padding: 2.5rem 3rem 2.5rem 3rem;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

.form-buttons {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: flex-start;

}

.back-button {
    padding: 6px 16px;
    border-style: none;
    background-color: #dadada;
    border-radius: 5px;
    font-weight: 500;
}

.continue-finish-button {
    padding: 6px 16px;
    border-style: none;
    background-color: #FECC1D;
    border-radius: 5px;
    font-weight: 500;
}

.residence-error {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: .75rem;
    margin-top: 10px;
    margin-bottom: -5px;
    color: #d2002a;
}
