@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

input {
    border: 1px solid #8F8F8F;
    border-radius: 3px;
    padding: 7px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #FFFFFF;
}

input:focus {
    border: 1px solid #8F8F8F;
    outline: none;
}

.login-field-error {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: .75rem;
    margin-top: -10px;
    margin-bottom: -5px;
    color: #d2002a;
}