html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px; /* Adjust according to the height of your Navbar */
  }
  
  .main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  